.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputBox{
  margin-left:25px;
  margin-top:85px;
  margin-right:30px;
  width:95%;
}

.redHeader{
  padding-top:80px;
  padding-bottom:30px;
  margin-bottom:30px;
  color:inherit;
  background-color:#8B0000;
}

.blueContainer{
  background-color:#E0FFFF;
  border-color: black;
  width: 95%;
  height:150px;
  border:10px;
  margin-left:50px;
  margin-right:100px;
}

.text{
  padding-top: 100px;
  margin-top:30px;
}

.custom{
  position: absolute;
  float:left;
}

.button {
  background-color: orange;
  color: white;
  border-radius: 8px;
  
}

.left{
  margin-left:-60%;/* whatever */
}

.right{
  margin-right:-80%;/* whatever */
}